:root {
  --black-two: #111111;
  --white: #ffffff;
  --pinkish-grey-two:#ccc8c6;
  --bright-orange:#f96400;
  --dark-maroon:#020001;
  --black-three: #222222;
  --pumpkin-orange:#fa7b26;
  --cerulean:#0565bb;
  --sun-yellow:#fcd32a;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Noto+Sans+KR:wght@300&family=Roboto:wght@100&display=swap');
.container_{
  width: 1920px;
}
.box{
  width: 100%;
  height: 80px;
  /* padding: 0px 97px; */
  background-color: var(--black-two);
  align-items: center;
  justify-content: space-between;
  display: flex;
  
}
img.logo {
  width: 226px;
  height: 26px;
  margin-left: 97px;
  /* object-fit: contain; */
  /* background-color: var(--white); */
}
.menu {
  color:  var(--white);
  right: 0;
  margin-right: 97px;
}
.menu-item {
  display: inline;
  
}
.menu__item{
  display: inline-block;
  margin-left: 74px;
  height: 11px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}
.rectangle-662{
  display: inline-block;
  width: 1px;
  height: 23px;
  margin-left: 74px;
  background-color: var(--pinkish-grey-two);
}
.banner{
  padding: auto;
  height: 1000px;
}
.main_banner {
  width: 100%;
  height: 100%;
}
.introduction{
  width: 100%;
  height: 576px;
  background-image: url("./assets/img/introduction-bg.png");
  padding: 0;
}
.introduction-title{
  padding: 174px 0px 69px 173px;
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: left;
  color: var(--white);
  text-transform: uppercase;
}
.introduction-content{
  width: 667px;
  height: 125px;
  padding: 0px 0px 0px 173px;
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}
.best-product{
  background-image: url(./assets/img/bes-bg.jpg);
  width: 100%;
  height: 1073px;
  position: relative;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.best-product-header{
  margin-top: 150px;
  margin-bottom: 74px;
  width: 665px;
}
.best-product-title{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: var(--bright-orange);
  text-transform: uppercase;
  padding-top: 150px;
}
.best-product-content{
  /* width: 665px; */
  height: 52px;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: justify;
  color: var(--bright-orange);
  padding: 49px 627px 74px 627px;
}
.best-product-items{
  display: inline-flex;
  justify-content: center;
}
.best-product_item{
  width: 523px;
  position: relative;
  align-items: center;
  margin: 0 auto;
}
.product-icon{
  position: absolute;
  z-index: 1;
  background-image: url(./assets/img/producticon-bg.png);
  width: 92px;
  height: 92px;
  object-fit: contain;
  align-items: center; 
  top:-46px;
}
.product-icon > span {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height:28px;
  letter-spacing: normal;
  text-align: left;
  color: var(--dark-brown);
  width: 100%;
  align-items: center;
  text-decoration: underline;
  position: relative;
  top:28px;
}
.best-product-img{
  width: 100%;
  height: 514px;
  object-fit: contain;
}
.create-mobile{
  width: 369px;
  height:79px;
  border: solid 3px var(--dark-maroon);
  background-color: var(--white);
  /* padding: 27px 0px 15px 27px; */
  display: flex;
  margin: 0px 70px;
  top:-40px;
  position: relative;
}
.create-mobile > span {
  width: 188px;
  margin: 13px 81px 9px 13px;
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25px;
  text-align: left;
  color: var(--black-three);
}
.create-mobile-img{
  width: 65px;
  height: 66px;
  /* margin: 13px 0px 0px 0px; */
  /* padding: 26px 16px 24px 17px; */
  object-fit: contain;
}
.list-product{
  background-color: var(--white);
  padding: 174px;
}
.list-product_container{
  margin-bottom: 116px;
}
.product-item{
  width: 300px;
  margin: 0px 19px 65px 0px;
  display: inline-block;
}
.product-item_title{
  margin-top: 29px;
  margin-bottom: 31px;
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: var(--black-three);
}
.product-price{
  /* display: inline; */
}
.product-detail{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
}
.product-item-icon{
  margin-right: 7px;
  color: var(--pumpkin-orange);
  /* display: flex; */
}
.product-item-img{
  width: 300px;
  height: 300px;
}
.see-more{
  width: 100%;
  display: flex;
  justify-content: center;
}
.see-more-btn{
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-size: 23px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: center;
  color: var(--black-three);
  background-color: var(--white);
  border: solid 3px var(--dark-maroon);
  text-transform: uppercase;
  padding: 21px 31px;
}
.brand-story{
  height: 1000px;
  width: 100%;
  background-color: var(--cerulean);
  
}
.brand-story_top{
  width: 100%;
  position: relative;
  /* text-align: center;
  align-items: center;
  margin: 0 auto; */
}
.brand-story_content{
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding-top:149px;
}
.brand-story_top_img{
  position: absolute;
}
.story_content{
  width: 100%;
  display: flex;
  justify-content: center;
}
.story_content>span{
  width: 34%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  color: var(--sun-yellow);
}
.story-title{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 4.5px;
  color: var(--sun-yellow);
  margin-bottom: 40px;
}
.top-image-right{
  position: absolute;
  right: 0;
  top: 61px;
  padding-right: 100px;
}
.object3{
  transform: translate(-50%,33%);
}
.brand-story_top_img{
  /* padding-left: 169px; */
  transform: translate(90%,-49%);
}